
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.shohin {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img1 {
    max-width: 100%;
    max-height: 100px; 
    height: auto;
}

.itiran {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    text-align: left;
}

.itiran td {
    border: 1px solid #ddd;
    padding: 8px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}