h1 {
    width:300px;
    margin:auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

form[name="menu"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.menu-item {
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: #333;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}

.menu-item img {
    max-width: 100%;
    max-height: 100px; 
    height: auto;
}

.menu-item p {
    margin: 5px 0;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    form[name="menu"] {
        flex-direction: column;
        align-items: stretch;
    }

    .menu-item {
        width: 100%;
    }
}

